In [1]:
from utils_db import *
import eikon as ek

In [7]:
ek.set_app_key('51dd084a4cea45dab6ac09cdbfe75cd83d17caa8')
con = api_connector()
def pct_chg(df):
    df = df.pct_change().dropna(how='all')
    return df 

data_ls = []
for i in range(0, len(ric_dict['hk_industry_group']), 2):
    start_date = ['2000-01-01', '2015-06-24']
    end_date = ['2015-06-01', '2022-06-10']
#     df = con.get_group_data('hk_industry_group',rics=[ric_dict['hk_industry_group'][0]], 
#                             proc_func=pct_chg, api_func=ek.get_timeseries, fields='CLOSE', interval='weekly',
#                             start_date='2005-01-01', end_date = end_date[1])
    df = con.get_group_data('hk_industry_group',rics=ric_dict['hk_industry_group'][i:i+2], 
                                proc_func=pct_chg, api_func=ek.get_timeseries, fields='CLOSE', interval='weekly',
                                start_date='2004-12-28')
    data_ls.append(df)
#     for j in range(1):
#         df = con.get_group_data('hk_industry_group',rics=ric_dict['hk_industry_group'][i:i+2], 
#                                 proc_func=pct_chg, api_func=ek.get_timeseries, fields='CLOSE', interval='weekly',
#                                 start_date=start_date[j], end_date = end_date[j])
#         data_ls.append(df)
        # con.get_api2(func=ek.get_timeseries, rics=ric_dict['cn_sector'], fields='CLOSE', 
#                                      start_date='2022-06-24')
alldata = pd.concat(data_ls)

In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 170 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays
In total the data has records on 913 fridays

In [11]:
save_local(alldata, r'.\input\sector\hk_industry_group_weekly.csv')

code        .TRXFLDHKTA1  .TRXFLDHKTC1  .TRXFLDHKTE1  .TRXFLDHKTE2  \
date
2022-04-29      0.067916     -0.023433     -0.000706      0.001806
2022-05-06     -0.048246     -0.019066     -0.011957     -0.047333
2022-05-13     -0.114439     -0.005818     -0.016474      0.027681
2022-05-20      0.116219      0.026599      0.048940      0.117562
2022-05-27     -0.078477      0.012307      0.057749     -0.004975
2022-06-03      0.094435     -0.001408     -0.000517      0.047049
2022-06-10      0.269646     -0.012047      0.032933      0.087481
2022-06-17      0.283374     -0.011545     -0.078189     -0.063961
2022-06-24     -0.066194     -0.011417     -0.042908      0.076253
2022-07-01      0.024810      0.003850      0.036895     -0.028250

code        .TRXFLDHKTF1  .TRXFLDHKTF3  .TRXFLDHKTF4  .TRXFLDHKTH1  \
date
2022-04-29     -0.042293     -0.012999     -0.006495      0.028853
2022-05-06     -0.017792     -0.048173     -0.031678     -0.103690
2022-05-13     -0.012069     -0.015582     -0.008470      0.024976
2022-05-20      0.025552      0.076865      0.035541      0.078458
2022-05-27      0.026605     -0.002822     -0.015259     -0.057604
2022-06-03      0.003125      0.008373      0.001176      0.071927
2022-06-10     -0.013187      0.019179     -0.010087      0.096596
2022-06-17     -0.008271      0.000574     -0.044489     -0.012552
2022-06-24      0.020223      0.025803      0.057269      0.153104
2022-07-01      0.021444      0.036557      0.033804      0.000394

code        .TRXFLDHKTH2  .TRXFLDHKTI1  ...  .TRXFLDHKTN1  .TRXFLDHKTN2  \
date                                    ...
2022-04-29      0.019796     -0.023480  ...      0.000598      0.001502
2022-05-06     -0.103984     -0.081481  ...     -0.063150     -0.033626
2022-05-13     -0.024657      0.026940  ...      0.022967      0.000222
2022-05-20      0.070909      0.017678  ...      0.030854      0.012630
2022-05-27     -0.049089      0.016899  ...     -0.001958      0.026586
2022-06-03      0.031605      0.025307  ...      0.040438      0.005542
2022-06-10      0.111107      0.023942  ...     -0.007298     -0.008267
2022-06-17     -0.038152     -0.127476  ...     -0.023028     -0.027787
2022-06-24      0.150560      0.039138  ...      0.066427      0.029021
2022-07-01     -0.031449     -0.014046  ...      0.042604      0.030445

code        .TRXFLDHKTN3  .TRXFLDHKTT1  .TRXFLDHKTT2  .TRXFLDHKTU1  \
date
2022-04-29      0.024674      0.039917      0.141909     -0.001112
2022-05-06     -0.039465     -0.068555     -0.091320     -0.024427
2022-05-13      0.030409      0.002512     -0.013273      0.010940
2022-05-20      0.025907      0.058061      0.040115      0.036719
2022-05-27     -0.004392     -0.013051     -0.007159      0.004992
2022-06-03      0.001985      0.036301      0.046988      0.020629
2022-06-10     -0.001101      0.027590      0.135637     -0.016743
2022-06-17     -0.009035     -0.045980     -0.063778     -0.042462
2022-06-24      0.036691      0.024575      0.048689      0.008083
2022-07-01      0.012441      0.061117     -0.039155      0.013893

code        .TRXFLDHKTY1  .TRXFLDHKTY2  .TRXFLDHKTY3  .TRXFLDHKTY4
date
2022-04-29      0.043683      0.017712      0.042885      0.218721
2022-05-06     -0.072099     -0.081107     -0.069788     -0.137349
2022-05-13      0.028473      0.022265     -0.037353     -0.086125
2022-05-20      0.113507      0.029730      0.037435      0.073931
2022-05-27     -0.010403     -0.048775     -0.019087     -0.017704
2022-06-03      0.072529      0.069211      0.049805      0.063305
2022-06-10      0.104549      0.029305      0.055563      0.115430
2022-06-17     -0.016352     -0.055459     -0.051091      0.027253
2022-06-24      0.134468      0.064853      0.050009     -0.027355
2022-07-01     -0.026057      0.051532      0.122571      0.013167

[10 rows x 25 columns]
Save file? Y
File (.\input\sector\hk_industry_group_weekly.csv) updated.

In [10]:
upload_data(alldata)

Uploaded 15826/15826 records into table [SectorRotationRet].

In [6]:
df = pd.read_csv(r'.\input\rhk_tickers.csv')
df
new_code_name(df)

C:\Users\arizonazhang\OneDrive - hkaift\research\sector-rotation-github\utils_db_upload.py:385: SAWarning: Can't validate argument 'replace_string'; can't locate any SQLAlchemy dialect named 'replace'
  conn.execute(table.table.insert(replace_string=""), data)

In [8]:
con.get_group_data('hk_industry_group',rics=ric_dict['hk_industry_group'][1:3], 
                                proc_func=pct_chg, api_func=ek.get_timeseries, fields='CLOSE', interval='weekly',
                                start_date='2005-01-01')

In total the data has records on 912 fridays

,date,code,value,markets,name,side
0,2005-01-14,.TRXFLDHKTE1,-0.010032,hk_industry_group,Energy - Fossil Fuels,NA
1,2005-01-21,.TRXFLDHKTE1,0.032489,hk_industry_group,Energy - Fossil Fuels,NA
2,2005-01-28,.TRXFLDHKTE1,0.018955,hk_industry_group,Energy - Fossil Fuels,NA
3,2005-02-04,.TRXFLDHKTE1,-0.062766,hk_industry_group,Energy - Fossil Fuels,NA
4,2005-02-11,.TRXFLDHKTE1,0.031665,hk_industry_group,Energy - Fossil Fuels,NA
...,...,...,...,...,...,...
1354,2022-06-17,.TRXFLDHKTE2,-0.063961,hk_industry_group,Renewable Energy,NA
1355,2022-06-24,.TRXFLDHKTE1,-0.042908,hk_industry_group,Energy - Fossil Fuels,NA
1356,2022-06-24,.TRXFLDHKTE2,0.076253,hk_industry_group,Renewable Energy,NA
1357,2022-07-01,.TRXFLDHKTE1,0.036895,hk_industry_group,Energy - Fossil Fuels,NA
1358,2022-07-01,.TRXFLDHKTE2,-0.02825,hk_industry_group,Renewable Energy,NA