### Uploading Returns
the table contains 5 columns: 


| Column  | Data Type | Range                                         | Definition                                                                                              | Other                                                                               |
|---------|-----------|-----------------------------------------------|---------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------|
| date    | datetime  | 2000-01 to 2022-02  | **end-of-week** date (Friday) of the return calculation period <br /> (a-shares start from 2005)                                                   |                                                                                     |
| markets | text      | cn, us, hk                                    | cn stands for "Shanghai-Shenzhen"                                                                       |      no market code is assigned for exogenous variable                                                                               |
| code    | text      |                                               | for factors, code is the abbreviation of factor name; <br /> for sectors, code is the index's bloomberg ticker |                                                                                     |
| name    | text      |                                               | the full name of factors and sectors                                                                    | used for simplicity in querying, processing data |
| value     | float     |                                               | simple return weekly of the factor or sector, value of corresponding exogenous variable                                                            | used for clarity in displaying data                                                 |
| side    | text      | L, S, LS                 | side of the portfolio<br />"L" stands for the long-leg, "S" stands for the short-leg<br >"LS" stands for the long-short portfolio for factor  | not applicable for sector data


- Please see a code-name mapping table in the file "code_mapping.xlsx"
- full code in the file called: `util_db_upload.py`

In [2]:
import pandas as pd
import numpy as np
import scipy.stats
import mysql.connector
from sqlalchemy import create_engine
import utils_db_upload as util

In [3]:
data = util.get_factor_ls()
data.head()

Length: 1129, code: cn800, side: long
Length: 1129, code: cn800, side: short
Length: 1166, code: hk400, side: long
Length: 1166, code: hk400, side: short
Length: 1161, code: us1500, side: long
Length: 1161, code: us1500, side: short

        date  code     value markets       name side
0 2000-01-07  size  0.095779      cn       Size    L
1 2000-01-07  idvc  0.161689      cn     Volume    L
2 2000-01-07  beta  0.136516      cn       Beta    L
3 2000-01-07    bm  0.068787      cn  Value-B2M    L
4 2000-01-07   m12  0.147199      cn   Momentum    L

In [ ]:
sectors = util.get_sector()
factors = util.get_factor()
factors_ls = util.get_factor_ls()
exogs = util.get_exog()

In [ ]:
sectors = sectors[sectors.date<=pd.to_datetime('2022-03-20')]
factors = factors[factors.date<=pd.to_datetime('2022-03-20')]
factors_ls = factors_ls[factors_ls.date<=pd.to_datetime('2022-03-20')]
exogs = exogs[exogs.date<=pd.to_datetime('2022-03-20')]

In [2]:
data = pd.concat([sectors, factors, factors_ls, exogs])
util.upload_return(data)

These fridays are not covered:
['2000-02-04' '2000-02-11' '2000-05-05' '2000-10-06' '2001-01-26'
 '2001-02-02' '2001-10-05' '2002-02-15' '2002-02-22' '2002-10-04'
 '2003-02-07' '2003-05-09' '2004-01-23' '2004-05-07' '2005-02-11'
 '2005-05-06' '2005-10-07' '2006-02-03' '2006-05-05' '2006-10-06'
 '2007-02-23' '2007-10-05' '2008-10-03' '2009-01-30' '2010-02-19'
 '2011-10-07' '2012-01-27' '2012-10-05' '2013-02-15' '2016-02-12'
 '2016-10-07' '2017-10-06' '2018-10-05' '2019-02-08' '2020-01-31'
 '2022-02-04']
In total the file contain 1129 fridays and there are 1165 fridays in between the horizon.
These fridays are not covered:
[]
In total the file contain 1165 fridays and there are 1165 fridays in between the horizon.
These fridays are not covered:
[]
In total the file contain 1161 fridays and there are 1161 fridays in between the horizon.
Length: 1129, code: cn800, side: long
Length: 1129, code: cn800, side: short
Length: 1166, code: hk400, side: long
Length: 1166, code: hk400, side: short
Length: 1161, code: us1500, side: long
Length: 1161, code: us1500, side: short
(market: NA, side: NA) 6948 rows uploaded.
(market: cn, side: L) 0 rows uploaded.
(market: cn, side: LS) 0 rows uploaded.
(market: cn, side: NA) 0 rows uploaded.
(market: cn, side: S) 0 rows uploaded.
(market: hk, side: L) 0 rows uploaded.
(market: hk, side: LS) 0 rows uploaded.
(market: hk, side: NA) 0 rows uploaded.
(market: hk, side: S) 0 rows uploaded.
(market: us, side: L) 0 rows uploaded.
(market: us, side: LS) 0 rows uploaded.
(market: us, side: NA) 0 rows uploaded.
(market: us, side: S) 0 rows uploaded.

0

### Uploading Allocations
the table contains 5 columns:
- date: allocation calculation date, i.e. the date before the start of implementing the allocations
- market: country
- sector: sector codes (name or code?)
- model: the method used in calculating the weightings
- appetite: Aggressive or Conservative (2, 8)
- weight: the respective weight of the sector calculated using the method

In [87]:
codes = ['us1500', 'cn800', 'hk400']
models = ['capm', 'factor', 'factorx'] #hist?
appetite = [2, 8]
# adjust industry codes
code = codes[0]
model = models[0]
data = pd.read_csv(r".\weights\weekly\{}_quadprog_{}e.csv".format(code, model))
names = list(map(lambda x: mdict[x], data.columns[1:-2]))
data.columns = ['date'] + names + list(['appetite','weight'])
data = data[data.weight==1]
data = data.drop(columns="weight")
data['market'] = 'us'
data['timeframe'] = 5
data['model'] = 'capm'

In [88]:
# preparing json data for mongodb upload
names.extend(["date"])

ls_weight = data[names].to_dict('records')
ls_params = data[['market', 'timeframe', 'model', 'appetite']].to_dict('records')

for i, d in enumerate(ls_weight):
    d['params'] = ls_params[i]
    
ls_weight[:5]

[{'Basic Materials': 0.0162583174385616,
  'Consumer Goods': 0.4078709282333568,
  'Consumer Services': 0.0279438783076198,
  'Health Care': 0.2939213307167888,
  'Industrials': 0.020792288748028,
  'Oil & Gas': 0.0249166478006242,
  'Technology': 0.0320194898897554,
  'Telecommunication': 0.0482848164537921,
  'Utilities': 0.1145268614318719,
  'Financials': 0.0134654409796005,
  'date': '2010-01-01',
  'params': {'market': 'us', 'timeframe': 5, 'model': 'capm', 'appetite': 2}},
 {'Basic Materials': 0.0161500803464422,
  'Consumer Goods': 0.4081251634927057,
  'Consumer Services': 0.0279090727741275,
  'Health Care': 0.2940612627821345,
  'Industrials': 0.0206815631122395,
  'Oil & Gas': 0.0248411509545892,
  'Technology': 0.0321484716267956,
  'Telecommunication': 0.0484920941082399,
  'Utilities': 0.114135196701003,
  'Financials': 0.0134559441017227,
  'date': '2010-01-08',
  'params': {'market': 'us', 'timeframe': 5, 'model': 'capm', 'appetite': 2}},
 {'Basic Materials': 0.0170533546633203,
  'Consumer Goods': 0.4080994385779306,
  'Consumer Services': 0.0278621717851565,
  'Health Care': 0.2952667723636014,
  'Industrials': 0.021265183902864,
  'Oil & Gas': 0.0257733403873814,
  'Technology': 0.0320138077384994,
  'Telecommunication': 0.0471549646142988,
  'Utilities': 0.1116553154837395,
  'Financials': 0.0138556504832076,
  'date': '2010-01-15',
  'params': {'market': 'us', 'timeframe': 5, 'model': 'capm', 'appetite': 2}},
 {'Basic Materials': 0.0164575451509883,
  'Consumer Goods': 0.4083797130944039,
  'Consumer Services': 0.0275611677217743,
  'Health Care': 0.2988253001332575,
  'Industrials': 0.0210358300615443,
  'Oil & Gas': 0.0252778189655609,
  'Technology': 0.0315168107704619,
  'Telecommunication': 0.0451384122543275,
  'Utilities': 0.1121703797950586,
  'Financials': 0.0136370220526222,
  'date': '2010-01-22',
  'params': {'market': 'us', 'timeframe': 5, 'model': 'capm', 'appetite': 2}},
 {'Basic Materials': 0.0140769018982674,
  'Consumer Goods': 0.40679380343028,
  'Consumer Services': 0.0244349216584179,
  'Health Care': 0.3122758503626914,
  'Industrials': 0.0176713077964067,
  'Oil & Gas': 0.0221707975116883,
  'Technology': 0.028421051152739,
  'Telecommunication': 0.0451859101677361,
  'Utilities': 0.1172068562816648,
  'Financials': 0.011762599740108,
  'date': '2010-01-29',
  'params': {'market': 'us', 'timeframe': 5, 'model': 'capm', 'appetite': 2}}]

In [83]:
# upload to mongoDB
import pymongo

myclient = pymongo.MongoClient("mongodb://app_developer:hkaift123@192.168.2.85:4010/")
db = myclient["app_data"]
coll = db["sector_allocation"]
result = coll.insert_many(ls_weight)

In [112]:
codes = ['us1500', 'cn800', 'hk400']
models = ['capm', 'factor', 'factorx'] #hist?
appetites = [2, 8]
param_cols = ['appetite', 'market', 'timeframe', 'model']
# adjust industry codes
data_ls = []
for code in codes:
    for model in models:
        # get data
        data = pd.read_csv(r".\weights\weekly\{}_quadprog_{}e.csv".format(code, model))
        names = list(map(lambda x: mdict[x], data.columns[1:-2]))
        data.columns = ['date'] + names + list(['appetite','weight'])
        data = data[(data.appetite.isin(appetites))&data.weight==1]
        data = data.drop(columns="weight")
        data.date = pd.to_datetime(data.date)
        
        # filter for data on rebalancing date
        reb_weeks = pd.date_range(start = data.date.values[0], end = data.date.values[-1], freq = "W-FRI")
        reb_weeks = reb_weeks[::4]
        data = data[data.date.isin(reb_weeks)]
        
        # add param columns
        data['market'] = code
        data['timeframe'] = 5
        data['model'] = model
        data_ls.append(data)

# put dataframe together
alldata = pd.concat(data_ls)
nonparam_cols = [col for col in alldata.columns if col not in param_cols]
alldata = alldata[nonparam_cols + param_cols]
alldata.head()

,date,Materials,Consumer Goods,Consumer Services,Health Care,Industrials,Energy,Information Technology,Telecommunication,Utilities,Financials,Consumer Discretionary,Consumer Staples,Properties & Construction,appetite,market,timeframe,model
636,2010-01-01,0.016258,0.407871,0.027944,0.293921,0.020792,0.024917,0.032019,0.048285,0.114527,0.013465,NaN,NaN,NaN,2,us1500,5,capm
640,2010-01-29,0.014077,0.406794,0.024435,0.312276,0.017671,0.022171,0.028421,0.045186,0.117207,0.011763,NaN,NaN,NaN,2,us1500,5,capm
644,2010-02-26,0.014023,0.404541,0.024230,0.314116,0.017546,0.022224,0.028209,0.046134,0.117173,0.011804,NaN,NaN,NaN,2,us1500,5,capm
648,2010-03-26,0.019575,0.383621,0.035032,0.275147,0.025875,0.029109,0.038589,0.056685,0.119979,0.016390,NaN,NaN,NaN,2,us1500,5,capm
652,2010-04-23,0.024397,0.365461,0.044176,0.244377,0.033371,0.034585,0.048201,0.064400,0.120865,0.020166,NaN,NaN,NaN,2,us1500,5,capm

In [ ]:
engine = create_engine("mysql+mysqlconnector://infoport:HKaift-123@192.168.2.81/AlternativeData")
alldata.to_sql("SectorRotationAllo", engine, if_exists="replace", index=False)